In [1]:
import PyPDF2
from PyPDF2 import PdfReader
import re
import pandas as pd
import tabula
import numpy as np 
import warnings
import time
pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None  # default='warn'
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
file = pd.read_csv("Turn Data/Turn Data.csv").Filepath.squeeze() # get file path

pdf_file = open(file, 'rb') # Open the PDF file
pdf_reader = PyPDF2.PdfReader(pdf_file) # Create a PDF reader object

xlist = []
def analyse(i):
    
    reader = PdfReader(file)
    
    page = reader.pages
        # top, left, bottom, right
    global nwo
    
    nwo = pd.DataFrame(tabula.read_pdf(file, pages=i)[0]) # extract data from the table
    
    #xlist.append(nwo)

# --------- strip special characters ---------- #
    nwo.iloc[:,3:16] = nwo.iloc[:,3:16].astype(str).map(lambda x: x.rstrip('*+-')) # 
    nwo.drop(list(nwo.filter(regex='Unnamed: 0')), axis=1, inplace=True)
    nwo["SA"] = nwo["SA"].fillna("")
     # --------- break into groups ---------- #
    s = nwo.eq(nwo.columns)
    s_groups = [g.reset_index(drop=True) for _, g in nwo[~s.iloc[:, 0]].groupby(s.cumsum()[~s.iloc[:, 0]].iloc[:, 0])]
    s_gks = s_groups[0].drop(index=0)
    s_deff = s_groups[1].drop(index=0)
    s_mid = s_groups[2].drop(index=0)
    s_att = s_groups[3].drop(index=0)

    # --------- rename cols ---------- #
    s_deff = s_deff.rename(columns={'Dis': 'Agg', 'Han': 'Tac', 'Ref':'Jud','Crs':'Vis'})
    s_mid = s_mid.rename(columns={'Dis': 'Agg', 'Han': 'Tac', 'Ref':'Jud','Crs':'Vis'})
    s_att = s_att.rename(columns={'Dis': 'Agg', 'Han': 'Tac', 'Ref':'Jud','Crs':'Vis'})

    # --------- split ID and names ---------- #
    s_gks[['ID', 'Name']] = s_gks['ID Name'].str.split(' ', n=1, expand=True)
    s_gks.drop(columns="ID Name",axis=1, inplace=True)
    s_gks = s_gks[["ID", "Name", "Age", "Foot", "Sho", "Mov","Pas","Con","Spe","Sta","Hea","Str","Dis","Han","Ref","Crs","OA","SA"]]


    
    # --------- Calculate PV ---------- #
    s_gks['GK'] = s_gks[['Dis', 'Han', 'Ref','Crs']].astype(int).sum(axis = 1, skipna = True)
    
    s_deff['CB'] = s_deff[['Hea', 'Str', 'Tac','Jud']].astype(int).sum(axis = 1, skipna = True)
    s_deff['FB'] = s_deff[['Spe', 'Sta', 'Agg','Tac']].astype(int).sum(axis = 1, skipna = True)
    s_deff['SW'] = s_deff[['Pas', 'Con', 'Tac','Jud']].astype(int).sum(axis = 1, skipna = True)
    s_deff['WB'] = s_deff[['Mov', 'Pas', 'Spe','Sta']].astype(int).sum(axis = 1, skipna = True)

    s_mid['CM'] = s_mid[['Pas', 'Sta', 'Hea','Tac']].astype(int).sum(axis = 1, skipna = True)
    s_mid['AM'] = s_mid[['Str', 'Agg', 'Tac','Jud']].astype(int).sum(axis = 1, skipna = True)
    s_mid['PL'] = s_mid[['Pas', 'Con', 'Jud','Vis']].astype(int).sum(axis = 1, skipna = True)
    s_mid['FR'] = s_mid[['Sho', 'Mov', 'Pas','Con']].astype(int).sum(axis = 1, skipna = True)
    s_mid['WG'] = s_mid[['Pas', 'Con', 'Spe','Sta']].astype(int).sum(axis = 1, skipna = True)

    s_att['WF'] = s_att[['Sho', 'Mov', 'Con','Spe']].astype(int).sum(axis = 1, skipna = True)
    s_att['IF'] = s_att[['Pas', 'Con', 'Jud','Vis']].astype(int).sum(axis = 1, skipna = True)
    s_att['CF'] = s_att[['Sho', 'Mov', 'Str','Agg']].astype(int).sum(axis = 1, skipna = True)
    s_att['TM'] = s_att[['Con', 'Hea', 'Str','Agg']].astype(int).sum(axis = 1, skipna = True)

    s_PV=29
    # --------- don't show low PVs ---------- #
    s_gks['GK'] = s_gks['GK'].astype(int); s_gks['GK'] = np.where(s_gks['GK'] < s_PV, "", s_gks['GK'])

    s_deff['CB'] = s_deff['CB'].astype(int); s_deff['CB'] = np.where(s_deff['CB'] < s_PV, "", s_deff['CB'])
    s_deff['SW'] = s_deff['SW'].astype(int); s_deff['SW'] = np.where(s_deff['SW'] < s_PV, "", s_deff['SW'])
    s_deff['WB'] = s_deff['WB'].astype(int); s_deff['WB'] = np.where(s_deff['WB'] < s_PV, "", s_deff['WB'])
    s_deff['FB'] = s_deff['FB'].astype(int); s_deff['FB'] = np.where(s_deff['FB'] < s_PV, "", s_deff['FB'])
    
    s_mid['CM'] = s_mid['CM'].astype(int); s_mid['CM'] = np.where(s_mid['CM'] < s_PV, "", s_mid['CM'])
    s_mid['AM'] = np.where(s_mid['AM'] < s_PV, "", s_mid['AM'])
    s_mid['PL'] = np.where(s_mid['PL'] < s_PV, "", s_mid['PL'])
    s_mid['FR'] = np.where(s_mid['FR'] < s_PV, "", s_mid['FR'])
    s_mid['WG'] = s_mid['WG'].astype(int); s_mid['WG'] = np.where(s_mid['WG'] < s_PV, "", s_mid['WG'])

    s_att['WF'] = s_att['WF'].astype(int); s_att['WF'] = np.where(s_att['WF'] < s_PV, "", s_att['WF'])
    s_att['IF'] = np.where(s_att['IF'] < s_PV, "", s_att['IF'])
    s_att['TM'] = np.where(s_att['TM'] < s_PV, "", s_att['TM'])
    s_att['CF'] = np.where(s_att['CF'] < s_PV, "", s_att['CF'])


    # --------- Show Players by Section ---------- #
    display("Goalkeepers",s_gks.style.background_gradient(axis=None, vmax=10,vmin=1, subset=['Spe','Dis','Crs']),
            "Defenders",s_deff.style.background_gradient(axis=None, vmax=10,vmin=1, subset=['Spe','Agg','Vis']),
            "Midfielders",s_mid.style.background_gradient(axis=None, vmax=10,vmin=1, subset=['Spe','Agg','Vis']),
            "Attackers",s_att.style.background_gradient(axis=None, vmax=10,vmin=1, subset=['Spe','Agg','Vis'])
           )
    
    
opp = []
opp.clear()
search_string = " Opponents - " # set desired searchable text 

for page_number in range(len(pdf_reader.pages)): # search file for text and append each page where this is found to the list
        text = pdf_reader.pages[page_number].extract_text() 
        if search_string in text: 
            pg = page_number + 1
            opp.append(pg)

print(opp)

[45, 46, 47]

In [3]:
# send to analyse function
i = 0
while i < len(opp):
    result = analyse(opp[i])
    i+=1

'Goalkeepers'

'Defenders'

'Midfielders'

'Attackers'

'Goalkeepers'

'Defenders'

'Midfielders'

'Attackers'

'Goalkeepers'

'Defenders'

'Midfielders'

'Attackers'